.footer__second-column {
  display: grid;
  justify-items: end;
  grid-template-columns: repeat(4, minmax(89px, 1fr));
  gap: 46px;
  max-width: 490px;
  z-index: 5;
}

@media screen and (max-width: 1151px) {
  .footer__second-column {
    grid-auto-flow: column;
    /* grid-template-columns: repeat(auto-fit, 100px); */
    grid-template-columns: repeat(auto-fill, minmax(75px, max-content));
    max-width: 600px;
  }
}
