.footer__second-column {
  display: grid;
  justify-items: end;
  grid-template-columns: repeat(4, minmax(89px, 1fr));
  gap: 46px;
  max-width: 490px;
  z-index: 5;
}

@media screen and (max-width: 1151px) {
  .footer__links {
    width: 100%;
  }
}
