.how-it-works__digit {
  outline: 1px solid red;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: rgba(249, 189, 189, 0.25);
  margin: 0;
}
