.about-us {
  margin-top: 120px;
}

@media screen and (max-width: 1151px) {
  .about-us {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .about-us {
    margin-top: 60px;
  }
}
