/* TODO сделать hover для ссылок и кнопок */
/* TODO сделать кнопку с помощью тега button */

@font-face {
  src: url(/Nunito/Nunito-Bold.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(/Nunito/Nunito-Regular.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(/Nunito/Nunito-SemiBold.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url(/Nunito/Nunito-ExtraBold.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
}














































.how-it-works__content-zone {
  position: relative;
}








.categories {
  width: 952px;
  height: 978px;
  margin-top: 120px;
  outline: 1px solid red;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 120px;
}

.categories__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories__card {
  width: 280px;
  height: 400px;
  outline: 1px solid red;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories__card:nth-of-type(3n + 1) {
  background-image: url(/images/Rectangle\ 7.svg);
}

.categories__card:nth-of-type(3n + 2) {
  background-image: url(/images/Rectangle\ 8.svg);
}

.categories__card:nth-of-type(3n + 3) {
  background-image: url(/images/Rectangle\ 6.svg);
}

.categories__card:last-of-type {
  background-image: none;
}

.categories__subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: left;
  color: #3e3f43;
  outline: 1px solid red;
  margin: 0;
  position: absolute;
  top: 24px;
  left: 16px;
}

.categories__image {
  display: block;
  margin: auto;
}

.categories__left-image {
  position: absolute;
  top: 88px;
  left: 1px;
}

.categories__button {
  border: 1px solid #3e3f43;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #3e3f43;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 19px;
  padding-right: 18px;
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.footer {
  background-image: url(/images/background__footer.svg);
  width: 100%;
  height: 455px;
  outline: 1px solid red;
  background-size: cover;
  position: relative;
}

.footer__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 508px;
  height: 455px;
  outline: 1px solid red;
  object-fit: none;
  object-position: 0 48px;
  background-image: url(/images/background__footer.svg);
  z-index: 1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footer__columns {
  width: 709px;
  height: 138px;
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-left: 107px;
  margin-bottom: 85px;
  z-index: 5;
}

.footer__column {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
  width: 192px;
}

.footer__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 16px;
  color: #8d8d8d;
}

.footer__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin: 0;
}

.footer__links {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.footer__link {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8d8d8d;
  text-decoration: none;
  margin-top: 16px;
}
