/* TODO сделать hover для ссылок и кнопок */

@font-face {
  src: url(/Nunito/Nunito-Bold.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url(/Nunito/Nunito-Regular.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url(/Nunito/Nunito-SemiBold.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url(/Nunito/Nunito-ExtraBold.ttf);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
}

.page {
  position: relative;
  width: 100%;
  outline: 1px solid red;
}

.header {
  display: flex;
  outline: 1px solid blue;
  justify-content: flex-start;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  outline: 1px solid green;
  display: flex;
  justify-content: center;
}

.header__logo {
  margin-top: 24px;
  margin-left: 80px;
  margin-right: 115px;
}

.logo__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.25em;
  color: #3e3f43;
  outline: 1px solid red;
  margin: 0;
}

.logo__rectangle {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  outline: 1px solid red;
  margin-top: 1px;
}

.header__menu {
  max-width: 430px;
  min-height: 22px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid red;
  margin-top: 27px;
  margin-bottom: 31px;
}

.header__link {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  text-decoration: none;
  margin-right: 48px;
}

.header__link_active {
  width: 45px;
  height: 22px;
  left: 0px;
  top: 0px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #daa520;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link:hover {
  text-decoration: underline;
}

.right-place {
  height: 720px;
  outline: 1px solid green;
  box-sizing: border-box;
  padding-left: 102px;
  padding-top: 137px;
  background-image: url(/images/Group\ 23.png);
  background-position: right;
  background-repeat: no-repeat;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.right-place__title {
  margin-top: 16px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 16px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
  width: 504px;
}

.right-place__subtitle {
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
  width: 504px;
}

.right-place__span-accent {
  font-weight: 700;
}

.right-place__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 568px;
  height: 800px;
  z-index: -1;
}

.button {
  background: #daa520;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.about-us {
  outline: 1px solid red;
  padding-left: 100px;
  margin-top: 120px;
}

.section__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  color: rgba(34, 34, 34, 0.1);
  outline: 1px solid green;
  margin: 0;
  text-transform: uppercase;
}

.section__subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
  margin: 0;
}

.section__title-zone {
  width: 952px;
  height: 98px;
  display: flex;
  justify-content: space-between;
  outline: 1px solid green;
  align-items: center;
}

.about-us__content-zone {
  width: 1052px;
  height: 812px;
  position: relative;
  margin-top: 40px;
  outline: 1px solid blue;
}

.about-us__main-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px;
}

.about-us__main-text_color_black {
  color: #000000;
}

.about-us__span-accent {
  font-weight: 800;
}

.about-us__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin: 0;
}

.about-us__food-image {
  width: 426px;
  height: 388px;
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__cutlery-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 287px;
  height: 384px;
}

.about-us__first-text-zone {
  width: 448px;
  position: absolute;
  top: 104px;
  outline: 1px solid yellow;
  right: 100px;
}

.about-us__second-text-zone {
  width: 651px;
  position: absolute;
  bottom: 126px;
  left: 2px;
  outline: 1px solid green;
  height: 131px;
}

.how-it-works {
  outline: 1px solid blue;
  width: 952px;
  height: 453px;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 120px;
}

.how-it-works__content-zone {
  position: relative;
}

.how-it-works__cards {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
}

.how-it-works__card {
  width: 238px;
  height: 177px;
  outline: 1px solid blue;
  position: relative;
}

.how-it-works__digit {
  width: 58px;
  height: 131px;
  position: absolute;
  top: 18.5px;
  left: 17px;
  outline: 1px solid red;
}

.how-it-works__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  position: absolute;
  bottom: 0;
  outline: 1px solid red;
  margin: 0;
  width: 100%;
}

.how-it-works__image {
  position: absolute;
  top: 11.61px;
  left: 59px;
}

.how-it-works__button {
  position: absolute;
  left: 370px;
}

.categories {
  width: 952px;
  height: 978px;
  margin-top: 120px;
  outline: 1px solid red;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 120px;
}

.categories__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.categories__card {
  width: 280px;
  height: 400px;
  outline: 1px solid red;
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories__card:nth-of-type(3n + 1) {
  background-image: url(/images/Rectangle\ 7.svg);
}

.categories__card:nth-of-type(3n + 2) {
  background-image: url(/images/Rectangle\ 8.svg);
}

.categories__card:nth-of-type(3n + 3) {
  background-image: url(/images/Rectangle\ 6.svg);
}

.categories__card:last-of-type {
  background-image: none;
}

.categories__subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: left;
  color: #3e3f43;
  outline: 1px solid red;
  margin: 0;
  position: absolute;
  top: 24px;
  left: 16px;
}

.categories__image {
  display: block;
  margin: auto;
}

.categories__left-image {
  position: absolute;
  top: 88px;
  left: 1px;
}

.categories__button {
  border: 1px solid #3e3f43;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #3e3f43;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 19px;
  padding-right: 18px;
  position: absolute;
  bottom: 24px;
  right: 16px;
}

.footer {
  background-image: url(/images/background__footer.svg);
  width: 100%;
  height: 455px;
  outline: 1px solid red;
  background-size: cover;
  position: relative;
}

.footer__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 508px;
  height: 455px;
  outline: 1px solid red;
  object-fit: none;
  object-position: 0 48px;
  background-image: url(/images/background__footer.svg);
  z-index: 1;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footer__columns {
  width: 709px;
  height: 138px;
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-left: 107px;
  margin-bottom: 85px;
  z-index: 5;
}

.footer__column {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
  width: 192px;
}

.footer__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 16px;
  color: #8d8d8d;
}

.footer__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin: 0;
}

.footer__links {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.footer__link {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8d8d8d;
  text-decoration: none;
  margin-top: 16px;
}
