.footer__columns {
  max-width: 708px;
  min-height: 138px;
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  margin-left: 107px;
  z-index: 5;
  margin-bottom: 45px;
}

@media screen and (max-width: 1151px) {
  .footer__columns {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .footer__columns {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
  }
}
