.about-us__second-text-zone {
  width: 660px;
  position: absolute;
  bottom: 126px;
  left: 2px;
  outline: 1px solid green;
  height: 131px;
}

@media screen and (max-width: 1151px) {
  .about-us__second-text-zone {
    position: initial;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    height: initial;
  }
}
