.right-place__title {
  margin-top: 17px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 13px;
  font-family: Nunito, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
  width: 504px;
}
