.title-zone__subtitle {
  font-family: Nunito, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
  margin: 0;
}

@media screen and (max-width: 540px) {
  .title-zone__subtitle {
    text-align: center;
 }
}
