.header__link {
  font-family: Nunito, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  margin-right: 48px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 840px){
  .header__link {
    margin-right: 15px;
  }
}


@media screen and (max-width: 719px) {
  .header__link {
    font-size: 24px;
    margin-top: 15px;
    text-align: start;
  }
}

@media screen and (max-width: 593px) {
  .header__link {
    margin-top: 25px;
  }
}

