.footer__text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 16px;
  color: #8d8d8d;
}
