.categories__button {
  border: 1px solid #3e3f43;
  box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  bottom: 24px;
  right: 15px;
  width: 123px;
  height: 40px;
  background: none;
}

.categories__button:hover {
  background: none;
  transform: scale(1.15);
}
