.categories__card {
  width: 280px;
  height: 400px;
  outline: 1px solid red;
  margin-top: 39px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: filter 200ms linear, transform 200ms linear;
}

.categories__card:nth-of-type(3n + 1) {
  background-image: url(../../../images/Rectangle7.svg);
}

.categories__card:nth-of-type(3n + 2) {
  background-image: url(../../../images/Rectangle8.svg);
}

.categories__card:nth-of-type(3n + 3) {
  background-image: url(../../../images/Rectangle6.svg);
}

.categories__card:last-of-type {
  background-image: none;
}

.categories__card:hover {
  transform: scale(1.05);
}

.categories__card:last-of-type:hover {
  transform: none;
}

@media screen and (max-width: 1151px) {
  .categories__card {
    margin-top: 0;
  }

  .categories__card:last-of-type {
    display: none;
  }
}

