.about-us__main-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #3e3f43;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 16px;
}


