.footer {
  background-image: url("../../images/background__footer.svg");
  background-size: cover;
  max-width: 1152px;
  height: 455px;
  outline: 1px solid red;
  padding-top: 206px;
  z-index: -20;
  box-sizing: border-box;
}

@media screen and (max-width: 1151px) {
  .footer {
    height: 350px;
    padding-top: 106px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    min-height: 400px;
    height: initial;
    padding-top: 53px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: content-box;
  }
}

