.footer {
  /*background-image: url(/images/footer2.png);*/
  background-image: url("../../images/background__footer.svg");
  /*background: #E5E5E5;*/
  background-size: cover;
  width: 100%;
  min-height: 455px;
  outline: 1px solid red;
  box-sizing: border-box;
  padding-top: 206px;
  z-index: -20;
}
