.how-it-works__cards {
  margin-top: 64px;
  margin-bottom: 62px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
  /*grid-template-columns: repeat(auto-fit, 238px);*/
}

@media screen and (max-width: 1151px) {
  .how-it-works__cards {
    gap: 30px;
  }
}
