.button {
  background: #daa520;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  height: 50px;
}
