.button {
  background: #daa520;
  border-radius: 4px;
  border: 0;
  height: 50px;
  transition: filter 200ms linear, transform 200ms linear;
}

.button:hover {
  background: rgba(218, 165, 32, 0.85);
  cursor: pointer;
  transform: scale(1.05);
}
